body {
	background: hsl(0,0%,5%);
  color: hsl(0,0%,20%);
  font-family: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  margin: 0;
  padding: 0;

  & > h1 {
    font-weight: lighter;
  }
}
