button {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;

  padding: 0 1.25rem;
  height: 2.75rem;
  overflow: hidden;
  position: relative;

  border-radius: var(--border-radius);
  border: 1px solid var(--brand-grey_light);

  font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: var(--brand-blue_subdued);
  }

  &:active {
    top: 1px;
  }

  &[primary] {
    background-color: var(--brand-blue);
    color: var(--brand-blue_subdued);
    border-color: var(--brand-blue);

    &:hover {
      background-color: hsl(217 89% 51%);
    }
  }

  &[ghost] {
    color: var(--brand-blue_darker);
    border-color: transparent;
  }
}