doctype html
html
  head
    meta(charset='utf8')
    title Parcel Kit
    
  body(grid='rows' vertically-aligned='center' horizontally-aligned='center')
    h1 Jade/CSSNext/ESNext
    div
      button(primary) It Works
      button(ghost) Time 2 Work

    script(src='./js/home.js' defer)