doctype html
html
  head
    meta(charset='utf8')
    title Parcel Kit
    link(href='//fonts.googleapis.com/css?family=Google+Sans' rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
  body
    h1 Google Material
    h2 Google Material
    h3 Google Material
    h4 Google Material
    h5 Google Material
    h6 Google Material
    
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    button Normal
    button(primary) Primary
    button(hairline) Hairline
    button(protected) Protected
    button(ghost) Ghost

    script(src='./js/home.js')